@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-style: normal;
    text-decoration: none;
    list-style: none;
}

:root {
    --bg-color: #F8F9FC;
    --darkW-color: #c0c0c0;
    --darkerW-color: #757575;
    --main-color: #C00000;
    --text-color: #212121;
    --second-color: #DE3C3C;
    --third-color: #F7B32D;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--bg-color);
    color: var(--main-color);
    padding-top: 80px; /* Adjust this value to match the height of the header */
}
/* Footer */
.container {
    max-width: 1070px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer {
    background-color: var(--bg-color);
    box-shadow: 0 -5px 5px -5px #00000033;
    padding: 70px 0;
    position: relative;
    width: 100%;
}

.footer-col {
    width: 25%;
    padding: 0 12px;
}

.footer-col h4 {
    font-size: 18px;
    color: var(--text-color);
    text-transform: capitalize;
    margin-bottom: 20px;
    font-weight: 800;
    position: relative;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -15%;
    background-color: var(--main-color);
    height: 2px;
    box-sizing: border-box;
    width: 70px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 500;
    color: var(--darkW-color);
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: var(--main-color);
}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: var(--darkW-color);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: var(--bg-color);
    transition: all 0.25s ease;
}

.footer-col .social-links a:hover {
    color: var(--bg-color);
    background-color: var(--main-color);
}

@media (max-width: 767px) {
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
}

@media (max-width: 574px) {
    .footer-col {
        width: 100%;
    }
}
/* Footer */